@import url("https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,700|Press+Start+2P&display=swap");

html {
  font-family: "Noto Sans JP", sans-serif;
  color: #333;
}

body {
  font-size: 62.5%;
}

.bg {
  width: 100vw;
  height: 100vh;
  position: fixed;
}

.main {
  position: absolute;
}

.wrapper {
  z-index: 1;
  width: 100vw;
  display: flex;
  justify-content: center;
}

.wrapper--yellow {
  background: #ffde57;
  color: #fff;
}

.content {
  width: 1000px;
  padding-bottom: 100px;
}

.heading {
  margin: 1em 0;
  font-size: 4rem;
  font-family: "Press Start 2P", cursive;
}

.text {
  font-size: 1.2rem;
}